{#
/**
 * @file
 * Default theme implementation to display a two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% if content %}
    {% if settings.title_text %}
        <{{ settings.title_element }} class="{{ settings.title_classes }}">{{ settings.title_text }}</{{ settings.title_element }}>
    {% endif %}
    <div{{ attributes.addClass('row', 'no-padding') }}>
        {% if content.first %}
            <div {{ region_attributes.first.addClass('layout__region', 'col-xs-12',  'col-sm-6', 'col-md-4', 'layout__region--first') }}>
                {{ content.first }}
            </div>
        {% endif %}
        
        {% if content.second %}
            <div {{ region_attributes.second.addClass('layout__region', 'col-xs-12', 'col-sm-6', 'col-md-8', 'layout__region--second') }}>
                {{ content.second }}
            </div>
        {% endif %}
    </div>
{% endif %}
