<div class="wrapper-accordion">
    {% for key, item in data %}
    <div class="card mb-2">
        <div class="card-accordion card-header" id="heading{{ loop.index }}">
            <a class="btn btn-link d-block text-left collapsed" data-toggle="collapse"
               data-target="#collapse{{ loop.index }}"
                {% if loop.first %} aria-expanded="true"  {% else %} aria-expanded="false" {% endif %}  aria-controls="collapse{{ loop.index }}">
                <span class="icon-collapse"></span>
                <strong class="mb-0 text-uppercase"> {{ key }} </strong>
            </a>
        </div>
        <div id="collapse{{ loop.index }}" class="collapse {% if loop.first %} show {% endif %}" aria-labelledby="heading{{ loop.index }}"
             data-parent=".wrapper-accordion">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th width="10%">N°</th>
                            <th width="75%">DIRECCION</th>
                            <th title="Descarga en Formato PDF" width="20">Digital</th>
                        </tr>
                        {% for bkey, bitem in item %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ bkey }}</td>
                                <td>
                                    <a data-target="#bd-modal-lg-{{ loop.index }}" data-toggle="modal" href="#"
                                       target="_new"><i
                                                aria-hidden="true"
                                                class="fa fa-file-pdf-o">&nbsp;</i></a>
                                    <div id="bd-modal-lg-{{ loop.index }}" class="modal fade bd-modal-lg" tabindex="-1"
                                         role="dialog"
                                         aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th colspan="5" class="text-center text-uppercase">{{ key }}
                                                            - {{ bkey }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th width="10%">N°</th>
                                                        <th colspan="3" scope="col">APELLIDOS Y NOMBRES</th>
                                                        <th>CARGO</th>
                                                    </tr>
                                                    
                                                    </thead>
                                                    <tbody>
                                                    {% for citem in bitem %}
                                                        <tr>
                                                            <td>{{ loop.index }}</td>
                                                            <td>{{ citem.paterno }}</td>
                                                            <td>{{ citem.materno }}</td>
                                                            <td>{{ citem.nombre }}</td>
                                                            <td>{{ citem.cargo }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div id="control-icon" class="position-fixed"
                                                 style="top:1.85rem; pointer-events: visible;">
                                                <div class="btn-group-vertical">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal"><i
                                                                class="fa fa-times" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                
                                </td>
                            </tr>
                        
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


