<div class="wrapper-accordion">
    <div class="card mb-2">
        <div class="card-accordion card-header" id="heading{{ loop.index }}">
            <a class="btn btn-link d-block text-left collapsed" data-toggle="collapse"
               data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                <span class="icon-collapse"></span>
                <strong class="mb-0"> Autoridades </strong>
            </a>
        </div>
        <div id="collapse{{ loop.index }}" class="collapse show" aria-labelledby="heading{{ loop.index }}"
             data-parent=".wrapper-accordion">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th colspan="3" scope="col">APELLIDOS Y NOMBRES</th>
                            <th>CARGO</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data %}
                            <tr>
                                <td>{{ item.paterno }}</td>
                                <td>{{ item.materno }}</td>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.cargo }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

